<%= erb :'questions/_question', locals: {question: @question, answers: @answers} %>

<%= erb :'partials/_comments', locals: {comments: @comments, question: @question} %>
<a href="/questions/<%= @question.id %>/answers">Go back to the answers.</a>
