<%= erb :'questions/_question', locals: {question: @question, answers: @answers} %>

<%= erb :'/_comments', locals: {post: 'questions', comments: @comments, question: @question, id: @question.id} %>
<a href="/questions/<%= @question.id %>/answers" class="back">Go back to the answers.</a>
