.sessions_menu {
  float: right;
  padding-right: 20px;
}
li{
  list-style: none;
}

form {
  padding: 10px;
}

.answer-content, .comment-content {
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
}

.question {
  padding: 5px;
}

.answers, .comments {
  width: 90%;
  padding: 5px;
  margin: auto;
}

.logout {
  display: inline;
}

.logout input {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
  color: -webkit-link;
  cursor: auto;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
  color: -webkit-link;
  cursor: auto;
}
