body {
  background-color: #fcf9e0;
}

.sessions_menu {
  float: right;
  margin-right: 5%;
}

li{
  list-style: none;
}

form {
  padding: 10px;
}

.answer-content, .comment-content {
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
}

.question {
  padding: 5px;
}

.answers, .comments {
  width: 90%;
  padding: 5px;
  margin: auto;
}

.logout {
  display: inline;
}

.logout input {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
  color: -webkit-link;
  cursor: auto;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
  color: -webkit-link;
  cursor: auto;
}

header {
  position: relative;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #42cbf4;
  margin-right: 3%;
  margin-left: 3%;
}

.logo {
  margin-left: 5%;
  font-size: 2.5em;
}

