<div class="comment-container">
  <form method="post" action="/questions/<%= question.id %>/comment">
    <input type="text" name="comment" value="insert your comment here">
    <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc add-comment"></button>
  </form>
</div>
