<h4 class="comments">Comments</h4>
<div class="comments">
  <% if comments %>
  <% comments.each do |comment| %>
  <div class="comment-content" id="<%= comment.id %>">
    <p class="post-info"><span class="username">Posted by: <%= comment.commenter.username %></span></p>
    <p class="content"><%= comment.content %></p>
  </div>
  <% end %>
  <% end %>
</div>
