<div>
  <form method="post" action="<%= resource.create_route_string %>" class="vote-container">
    <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button up-vote">⬆️</button>
  </form>

  <h3><%= resource.points %></h3>

  <form method="post" action="<%= resource.create_route_string %>" class="vote-container">
    <button type="submit" name="value" value="-1" class="fa fa-sort-desc vote-button down-vote">⬇️</button>
  </form>
</div>
