<%= erb :'answers/_answer', locals: {answer: @answer} %>

<%= erb :'partials/_comments', locals: {comments: @comments} %>
<a href="/questions/<%= @question.id %>/answers" class="back">Go back to the answers.</a>
