<div class="container">
  <form method="post" action="/questions/<%= question.id %>/<%= resource %>">
    <input type="text" name="comment" placeholder="comment">
    <button type="submit" value="submit">submit</button>
  </form>
</div>
